* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import './components/_color.scss';
body {
    background-color: $black;
    width: 100%;
    p {
        color: $purple;
    }
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}